@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* css variables */
:root{
    --header-height: 3rem;
    --nav-width: 68px;

    /* colors */
    --dark-color: #2e323a;
    --primary-color: #63c9bc;
    --white-color: #F7F6FB;

    /* font and typography */
    --default-font-family: 'Lato', sans-serif;
    --default-font-size: 1rem;
  
    /* z index */
    --z-fixed: 100;
}