.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #2e323a;
  z-index: 40;
  transition: all 0.5s ease;

  &.mini {
    width: 78px;

    & ~ .main-section {
      left: 78px;
      width: calc(100% - 78px);
    }

    & .logo-details .logo_name {
      transition-delay: 0s;
      opacity: 0;
      pointer-events: none;
    }

    & .nav-links {
      overflow: visible;

      & li {

        & .icon-link {
          display: block;
        }

        & a {

          & .link_name {
            opacity: 0;
            pointer-events: none;
          }
        }

        & .sub-menu {
          position: absolute;
          left: 100%;
          top: -10px;
          margin-top: 0;
          padding: 10px 20px;
          border-radius: 0 6px 6px 0;
          transition: all 0.4s ease;
          opacity: 0;
          display: block;
          pointer-events: none;

          & .link_name {
            font-size: 16px;
            opacity: 1;
            display: block;
          }
        }

        &:hover .sub-menu {
          top: 0;
          opacity: 1;
          pointer-events: auto;
          transition: all 0.4s ease;
        }
      }

      & .arrow {
        display: none;
      }
    }

    & .profile-details {
      background: none;
      width: 78px;

      & img {
        padding: 10px
      }

      & .collapse, & .profile_name, & .job {
        display: none;
      }
    }
  }

  & .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;

    & .logo_icon {
      color: #ffffff;
      min-width: 78px;
      text-align: center;
      line-height: 50px;
    }

    & .logo_name {
      font-size: 22px;
      color: #ffffff;
      font-weight: 600;
      transition: 0.3s ease;
      transition-delay: 0.1s;
    }
  }
  
  & .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    & li {
      position: relative;
      list-style: none;
      transition: all 0.4s ease;

      &:hover {
        background: #3c414b;
      }

      & .icon-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      & .link_icon {
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
        color: #ffffff;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
      }

      &.showMenu {

        & .arrow {
          transform: rotate(-180deg);
        }

        & .sub-menu {
          display: block;
        }

        & a {
          &.exact-active, &.active {
            color: #64c8bc;
          }
        }
      }

      & a {
        display: flex;
        align-items: center;
        text-decoration: none;

        & .link_name {
          font-size: 16px;
          font-weight: 400;
          color: #ffffff;
        }
      }

      & .sub-menu {
        padding: 6px 6px 6px 80px;
        margin-top: -10px;
        background: #3c414b;
        display: none;

        & a {
          color: #ffffff;
          font-size: 15px;
          padding: 5px 0;
          white-space: nowrap;
          opacity: 0.6;
          transition: all 0.3s ease;

          &:hover {
            opacity: 1;
          }
        }

        & .link_name {
          display: none;
        }

        &.blank {
          opacity: 1;
          pointer-events: auto;
          padding: 8.5px 20px 8.5px 16px;
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }

  & .arrow {
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--white-color);
    cursor: pointer;
  }

  & .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3c414b;
    padding: 6px 0;
    transition: all 0.5s ease;
    cursor: pointer;

    & .profile-content {
      display: flex;
      align-items: center;
    }

    & img {
      height: 52px;
      width: 52px;
      object-fit: cover;
      border-radius: 16px;
      margin: 0 14px 0 12px;
      background: #3c414b;
      transition: all 0.5s ease;
    }

    & .job {
      color: #ffffff;
      font-weight: 500;
      white-space: nowrap;
      font-size: 14px;
    }

    & .profile_name {
      color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
    }
  }

  & .collapse {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--white-color);
  }
}
